.contacts {
  padding-top: 140px;
  &__title {
    text-align: center;
    .title__right-circle {
      &::before {
        background: url('../img/titles/contacts.svg') no-repeat center center / contain;
      }
    }
    
  }

  &__info {
    margin-top: 80px;
    max-width: 500px;
  }

  &__links {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 60px;
  }

  &__link {
    position: relative;
    &::after {
      content:"";
      position: absolute;
      top: -12px;
      left: 50px;
      width: 280px;
      height: 80px;
      border-radius: 50%;
      border: $border;
      transition: all 0.6s;
    }
    &:hover {
      &::after{
        
        transform: translateX(-50%) rotate(-5deg);
      }
    }
    &:nth-child(1) {
      justify-self: center;
      &::after{
        left: 50%;
      }
      

    }
    &:nth-child(2) {
      justify-self: end;
      left: 0;
      &::after{
        left: 50%;
      }
    }
    
  }
}

@media (max-width: 1420px) {
  .contacts {
    &__link {
      &:nth-child(2) {
        justify-self: center;
        &::after{
          left: 144px;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .contacts {
    &__info, &__links {
      margin-top: 60px;
    }
    &__link {
      &::after {
        top: -6px;
        width: 200px;
        height: 60px;
      }
      &:nth-child(1), &:nth-child(2), {
        &::after {
         left: 100px;
        }
      }
      &:nth-child(3) {
        &::after {
         left: 18px;
        }
      }
      &:nth-child(4) {
        &::after {
         left: 44px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .contacts {
    padding-top: 120px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 100px;
    &__info {
      width: 430px;
    }
    &__links {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      row-gap: 40px;
    }
    &__link {
      &:nth-child(1), &:nth-child(3), {
        justify-self: start;
      }
      &:nth-child(4) {
        justify-self: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .contacts {
    padding-top: 80px;
    &__info {
      margin-top: 30px;
      width: 100%;
    }
    &__links {
      margin-top: 30px;
      row-gap: 20px;
    }
    &__link {
      &::after {
        top: 0px;
        width: 100px;
        height: 30px;
      }
      &:nth-child(1), &:nth-child(2), {
        &::after {
         left: 47px;
        }
      }
      &:nth-child(3) {
        &::after {
         left: 9px;
        }
      }
      &:nth-child(4) {
        &::after {
         left: 22px;
        }
      }
    }
  }
}
