.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  border-bottom: $border;
  z-index: 999;
  &__logo {
    width: 180px;
    img {
      width: 98%;
    }
  }

  &__menu {   
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 85px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__menu-item {
    position: relative;
    font-family: Neue Machina, sans-serif;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 5px;
    @include border;  
  }
}


@media (max-width: 1200px) {
  .header {
    &__menu {   
      ul {
        li {
          margin-right: 50px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .header {
    &__logo {
      width: 140px;
    }
    // здесь делаем бургер
  }
}

@media (max-width: 576px) {

}