.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  border-bottom: $border;
  z-index: 999;
  &__logo {
    img {
      width: 180px;
    }
  }

  &__nav {
  }

  &__menu {
    display: flex;
    list-style: none;
    li {
      margin-right: 85px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__menu-item {
    position: relative;
    font-family: Neue Machina;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 5px;
    @include border;
    
  }
}

