.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($text, 0.7);
  z-index: 1000;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  transition: all 0.6s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.active {
  top: 50%;
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  padding: 50px 45px;
  background-color: $background;
  width: 560px;
  transition: all ease 0.8s;
  &__close {
    position: absolute;
    top: 0px;
    right: -40px;
    cursor: pointer;
  }

  &__subtitle {
    font-family: Neue Machina, sans-serif;
    text-align: center;
    font-size: 36px;
    color: $accent-color;
  }

  &__descr {
    margin-top: 10px;
    text-align: center;
  }
}
.feed__form {
  margin-top: 30px;
}

.form {
		&__item {
      margin-bottom: 30px;
		}

		&__label {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
		}

		&__input {
      background-color: $background;
      border-bottom: 1px solid rgba($text, 0.5);
      padding: 10px 10px;
      width: 100%;
      color: $text;
      &:focus, &:required {
        background-color: $background;
      }
      
    }

    &__input._error {
      border: 1px solid red;
    }
    

		&__button {
      width: 100%;
      padding: 20px 0;
      background-color: $text;
      color: $background;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #fff;
      }
		}
}
textarea.form__input {
  min-height: 120px;
  resize: none;
}


.checkbox {
		&__input {
      display: none;
    }
    
    &__input:checked + &__label::after {
      transform: scale(1);
    }

		&__label {
      font-size: 16px;
      position: relative;
      padding-left: 30px;
      
      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: $background;
        border-radius: 4px;
        border: 1px solid $text;
      }
      &::after {
        content: "";
        width: 9px;
        height: 9px;
        position: absolute;
        top: 7px;
        left: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        transform: scale(0);
        transition: all 0.3s;
      }
      a {
        color: $accent-color;
      }
		}
}

.checkbox._error .checkbox__label::before {
  border: 1px solid red;
}

.warn {
  display: none;
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

@media (max-width: 992px) {
  .modal {
    padding: 35px 30px;
    width: 515px;
    &__subtitle {
      font-size: 32px;
    }
  }
  .form {
    &__item {
      margin-bottom: 20px;
    }
    &__label {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    // margin-top: 30px;
    padding-top: 45px;
    width: 490px;
    &__descr {
      margin-top: 5px;
    }
    &__close {
      top: 10px;
      right: 10px;
    }
  }
  .form {
    &__label {
      font-size: 16px;
    }
  }
  textarea.form__input {
    min-height: 80px;
  }
  .checkbox{
    &__label {
      font-size: 14px;
      padding-left: 25px;
      &::before {
        width: 13px;
        height: 13px;
        top: 2px;
      }
      &::after {
        top: 5px;
        left: 3px;
      }
    }
  }
}

@media (max-width: 576px){
  .modal {
    width: 300px;
    padding: 45px 10px 30px;
    &__subtitle {
      font-size: 22px;
      line-height: 28px;
    }
    textarea.form__input {
      min-height: 60px;
    }
  }
  .warn {
    margin-top: 2px;
  }
  .form {
    &__item {
      margin-bottom: 10px;
    }
    &__button {
      padding: 15px 0;
    }
  }
}
