.title {
  font-family: Neue Machina, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  &_fz96 {
    font-size: 96px;
    line-height: 100px;
  }
  &_fz85 {
    font-size: 85px;
    text-align: center;
  }

  &_left-circle {
    position: relative;
    z-index: 1;
    padding-left: 116px;
    &::before {
      content: '';
      position: absolute;
      left: 85px;
      top: -35px;
      width: 200px;
      height: 200px;
      z-index: -2;
      animation: rotation  8s linear infinite;
    }
    &::after {
      content: "";
      position: absolute;
      top: 36px;
      left: 230px;
      width: 61px;
      height: 60px;
      background-color: $background;
      z-index: -1;
    }
  }

  &_fz48 {
    font-size: 48px;
    line-height: 52px;
  }

  &_orange {
    color: $accent-color;
  }
}