.title {
  font-family: Neue Machina, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  &_fz96 {
    font-size: 96px;
    line-height: 100px;
  }
  &_fz85 {
    font-size: 85px;
  }

  &_left-circle, &__right-circle {
    display: inline-block;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: -35px;
      width: 200px;
      height: 200px;
      z-index: -2;
      animation: rotation  8s linear infinite;
    }
  }

  &_left-circle {
    padding-left: 150px;
    &::before {
      left: 0;
    }
  }

  &__right-circle {
    &::before {
      right: 0;
    }
  }

  &_fz48 {
    font-size: 48px;
    line-height: 52px;
  }

  &_orange {
    color: $accent-color;
  }
}

@media (max-width: 1280px) {

}

@media (max-width: 1200px) {
  .title {
    &_fz96 {
      font-size: 80px;
      line-height: 90px;
    }
    &_fz85 {
      font-size: 76px;
    }
    &_left-circle, &__right-circle {
      padding-left: 105px;
      &::before {
        width: 150px;
        height: 150px;
        top: -20px;
      }
    }
    &_fz48 {
      font-size: 42px;
      line-height: 48px;
    }
  }

}

@media (max-width: 992px) {
  .title {
    &_fz96 {
      font-size: 70px;
      line-height: 76px;
    }
    &_fz85 {
      font-size: 58px;
    }
    &_left-circle, &__right-circle {
      padding-left: 88px;
      &::before {
        width: 120px;
        height: 120px;
        top: -20px;
      }
    }
    &_fz48 {
      font-size: 36px;
      line-height: 40px;
    }
  }
}

@media (max-width: 768px) {
  .title {
    &_fz96 {
      font-size: 56px;
      line-height: 60px;
    }
    &_fz85 {
      font-size: 48px;
    }
  }
}

@media (max-width: 576px) {
  .title {
    &_fz96 {
      font-size: 33px;
      line-height: 40px;
    }
    &_fz85 {
      font-size: 32px;
    }
    &_left-circle, &__right-circle {
      &::before {
        width: 80px;
        height: 80px;
        top: -15px;
      }
    }
    &_left-circle {
      padding-left: 60px;
    }
    &_fz48 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}