.title {
  font-family: Neue Machina, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  &_fz96 {
    font-size: 96px;
    line-height: 100px;
  }
  &_fz85 {
    font-size: 85px;
    text-align: center;
  }

  &_left-circle, &__right-circle {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: -35px;
      width: 200px;
      height: 200px;
      z-index: -2;
      animation: rotation  8s linear infinite;
    }
  }

  &_left-circle {
    padding-left: 116px;
    &::before {
      content: '';
      position: absolute;
      left: 240px;
    }
  }

  &__right-circle {
    padding-right: 116px;
    &::before {
      content: '';
      position: absolute;
      right: 240px;
    }
  }

  &_fz48 {
    font-size: 48px;
    line-height: 52px;
  }

  &_orange {
    color: $accent-color;
  }
}

@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}